<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Poll</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (poll) {
    <h2>{{poll.question}}</h2>
    @if (!alreadyVoted) {
      <ion-button expand="block" shape="round" [disabled]="!selectedOption || alreadyVoted" (click)="submit()">Submit</ion-button>
      <ion-radio-group value="start" [(ngModel)]="selectedOption">
        <ion-list>
          @for (option of poll.options; track $index) {
            <ion-item>
              <ion-radio [value]="option" justify="space-between">{{ option }}</ion-radio>
            </ion-item>
          }
        </ion-list>
      </ion-radio-group>
      } @else {
        <h2>You have voted!</h2>
        <p>Thank you</p>
      }
    }
</ion-content>
