<h2>Our Sponsors</h2>
@if (sponsorList) {

  @for(tier of tiers; track $index) {
    <h3>{{tier}}</h3>
    <ion-list lines="none">
      @for(sponsor of sponsorList[tier]; track $index) {
        @if (sponsor) {
          <div class="sponsor">
          @if (sponsor.logoUrl) {
              <img [src]="`/assets/sponsor-logos/${sponsor.logoUrl}`" alt="{{ sponsor.name }} logo" [alt]="sponsor.name"/>
          } @else {  
            {{ sponsor.name }}
          }
        </div>
        }
      } 
    </ion-list>
  }
}