<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Manage Users</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button mode="md"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" [routerLink]="['/admin/user/new']">Create User</ion-button>
  <h1>Existing users</h1>
  <ion-list>
    @for (user of users; track $index) {
      <ion-item [routerLink]="['/admin/user/' + user.userId]" [state]="{user: user}" detail>
        <ion-text>{{user.email}}</ion-text>
      </ion-item>
    }
  </ion-list>
</ion-content>
