<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Manage Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" [routerLink]="['/admin/user/new']">Create User</ion-button>
  <h1>Existing users</h1>
  <ion-list>
    @for (user of users; track $index) {
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{user.email}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
        <ion-button fill="clear" [routerLink]="['/admin/user/' + user.userId]" [state]="{user: user}">Edit</ion-button>
      </ion-card>
    }
  </ion-list>
</ion-content>
