<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Manage Attendees</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button mode="md"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar show-clear-button="focus"
      placeholder="Search attendees by first or last name"
      [debounce]="400" 
      (ionInput)="handleSearchChange($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" [routerLink]="['/admin/attendee/new']">Create Attendee</ion-button>
  <h1>Import Attendees</h1>
  <input type="file" id="attendees" name="attendees" accept="text/xls" #attendeeInput />
  <ion-button (click)="importAttendees()">Import</ion-button>
  <hr/>
  <h1>Existing attendees {{attendees.length}}</h1>
  <ion-loading [isOpen]="showLoading" message="Loading attendees..." duration="10000" (onDidDismiss)="showLoading = false"></ion-loading>
  <ion-list>
    @for (attendee of attendees; track $index) {
      @if (searchTerm === '' || attendee.firstname?.toLowerCase()?.includes(searchTerm.toLowerCase()) ||attendee.lastname?.toLowerCase()?.includes(searchTerm.toLowerCase())) {
        <ion-item detail routerLink="/admin/attendee/{{attendee.id}}">
            <ion-text>{{attendee.firstname}} {{attendee.lastname}}</ion-text>
        </ion-item>
      }
    }
  </ion-list>
</ion-content>
