ion-item-divider {
  --background: var(--ion-color-lc-blue-tint);
  --color: white;
  --padding-top: 5px;
  --padding-bottom: 5px;
  --padding-start: 20px;
  --padding-end: 20px;
  font-weight: bold;
}