<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      @if (!pollForm.dirty) {
        <ion-back-button></ion-back-button>
      } @else {
        <ion-button (click)="cancel()">
          <ion-icon slot="icon-only" name="close" ></ion-icon> 
        </ion-button>
      }
    </ion-buttons>
    <ion-title>Poll: {{ isNewPoll ? 'Create' :  poll.name}} </ion-title>
    <ion-buttons slot="end">
      <ion-button  [disabled]="!pollForm.valid" (click)="save()">
        <ion-icon slot="icon-only" name="save" ></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (barChartData) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>Current results</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2>Raw results (for debug/test)</h2>
        <pre>{{pollResultsStr}}</pre>
        <canvas baseChart
          [data]="barChartData"
          [type]="'bar'"
          [options]="barChartData.options"> </canvas>

      </ion-card-content>
    </ion-card>
  }
  <form [formGroup]="pollForm">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Poll Details</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-toggle 
          justify="space-between" formControlName="isActive">Poll Active</ion-toggle>
        </ion-item>
        <ion-item>
          <ion-toggle 
          justify="space-between" formControlName="isResultPublic">Show results to attendees</ion-toggle>
        </ion-item>
        <ion-item-group>
          <ion-item-divider>
            <ion-label>Entries</ion-label>
          </ion-item-divider> 
          @for (option of poll.options; track $index) {
            <ion-reorder-group>
              <ion-item>
                <ion-input formControlName="option{{$index}}" placeholder="Option {{$index + 1}}"></ion-input>
                  <ion-button fill="clear" color="danger" disabled>
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                  </ion-button>
                  <ion-reorder slot="end"></ion-reorder>
              </ion-item>
            </ion-reorder-group>
          }
        </ion-item-group>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
