.menu-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: -4.8px;
  max-width: 147px;
}

ion-header ion-toolbar {
  border-bottom: 3px solid black;
}

ion-footer ion-title {
  font-size: 1em;
}