<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" side="end" swipeGesture="false">
      <ion-header>
        <ion-toolbar>
          <img
            src="assets/img/logo.png"/>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list id="menu-list">
          <ion-menu-toggle auto-hide="false">
            @for (p of appPages; track $index) {
              @if(p.type === 'page') {
                <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected" lines="none">
                  <ion-icon aria-hidden="true" slot="start" [name]="p.icon"></ion-icon>
                  <ion-label>{{p.title}}</ion-label>
                </ion-item>
              } @else {
                <hr class="divider"/>
              }
          }
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
