<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button mode="md"></ion-menu-button>
    </ion-buttons>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar show-clear-button="focus"
      placeholder="Search"
      [debounce]="400" 
      (ionInput)="handleSearchChange($event)">
    </ion-searchbar>
  </ion-toolbar>
  <ion-toolbar>
    @if (user) {
      <ion-segment [value]="currentSegment" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="all">
          <ion-label>All</ion-label>
        </ion-segment-button>
        <ion-segment-button value="my-agenda">
          <ion-label>My Agenda</ion-label>
        </ion-segment-button>
      </ion-segment>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <h1>5th June 2026</h1>
  <ion-list lines="none">
    @for (sessionHour of agenda; track $index) {
      <details open class="session-hour">
        @for (session of sessionHour; track session.id) {
          @if ($index === 0) {
            <summary [class]="session.startDateTime.seconds == timeNow ? 'currentHour' : ''">{{ session.startDateTime.seconds| date : "shortTime"}}</summary>
          } @else {
            @if (session.format === 3 || (currentSegment === 'all' && isInSearchResults(session)) || (currentSegment === 'my-agenda' && user?.myAgendaSessions?.includes(session.id) && isInSearchResults(session))) { 
              <app-session-card
                [session]="session"
                [user]="user"
                [favourites]="user?.myAgendaSessions"
                (favouriteToggled)="toggleFavourite($event)"
              ></app-session-card>
            }
          }
        }
      </details>
    }
  </ion-list>
</ion-content>
