<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      @if (!userForm.dirty) {
        <ion-back-button></ion-back-button>
      } @else {
        <ion-button (click)="cancel()">
          <ion-icon slot="icon-only" name="close" ></ion-icon> 
        </ion-button>
      }
    </ion-buttons>
    <ion-title>Editing user</ion-title>
    <ion-buttons slot="end">
      <ion-button  [disabled]="!userForm.valid" (click)="save()">
        <ion-icon slot="icon-only" name="save" ></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-alert
    [isOpen]="isFailedSaveAlertOpen"
    header="Save Failed"
    [message]="failedSaveAlertMessage"
    [buttons]="failedSaveAlertButtons"
    (didDismiss)="isFailedSaveAlertOpen = false"
  ></ion-alert>
  <form [formGroup]="userForm">
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-input errorText="Email is required" required label="Email" labelPlacement="stacked" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-toggle
            justify="space-between"
            formControlName="isActive"
          >Active</ion-toggle>
        </ion-item>
        <ion-item>
          <ion-toggle
            justify="space-between"
            formControlName="canUpsertLeads"
          >canUpsertLeads</ion-toggle>
        </ion-item>
        <ion-item>
          <ion-toggle
            justify="space-between"
            formControlName="canManageFAQs"
          >canManageFAQs</ion-toggle>
        </ion-item>
        <ion-item>
          <ion-toggle
            justify="space-between"
            formControlName="canManageAnnouncements"
          >canManageAnnouncements</ion-toggle>
        </ion-item>
        <ion-item>
          <ion-toggle
            justify="space-between"
            formControlName="canManageSpeakers"
          >canManageSpeakers</ion-toggle>
        </ion-item>
        <ion-item>
          <ion-toggle
            justify="space-between"
            formControlName="canManageUsers"
          >canManageUsers</ion-toggle>
        </ion-item>
        <ion-item>
          <ion-toggle
            justify="space-between"
            formControlName="canManageSessions"
          >canManageSessions</ion-toggle>
        </ion-item>
        <ion-item>
          <ion-toggle
            justify="space-between"
            formControlName="canManageSponsorStaff"
          >canManageSponsorStaff</ion-toggle>
        </ion-item>
        <ion-item>
          <ion-toggle
            justify="space-between"
            formControlName="canManageSponsorAdmins"
          >canManageSponsorAdmins</ion-toggle>
        </ion-item>
        @if (user?.type == 92) {
          <ion-item>
            <ion-toggle
              justify="space-between"
              formControlName="canManageAdmins"
            >canManageAdmins</ion-toggle>
          </ion-item>
        }
        <ion-item>
          <ion-select labelPlacement="stacked"  label="Associated Sponsor" placeholder="For leads" formControlName="associatedSponsors" ngDefaultControl>
            @for (sponsor of sponsors; track sponsor.id) {
              <ion-select-option [value]="sponsor.id">{{ sponsor.name }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card>
  </form> 
</ion-content>