<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button mode="md"></ion-menu-button>
    </ion-buttons>
    <ion-title>Polls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (polls) {
    <ion-list>
      @for (poll of polls; track $index) {
        <ion-item detail [routerLink]="['/polls', poll.id]" [state]="{poll: poll}">
          <ion-label>{{ poll.question }}</ion-label>
        </ion-item>
      }
    </ion-list>
  }
</ion-content>
