<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="londons-calling"><span class="lc-big">L</span><span class="lc-o">o</span>ndon's <span class="lc-big">C</span>alling</ion-title>
    <ion-buttons slot="end">
      <app-announcement-icon></app-announcement-icon>
      <ion-menu-button mode="md"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-img src="assets/lc-skyline.png" class="home-logo"></ion-img>
  <p class="tagline">The World's Largest Community Led Event for Salesforce Professionals</p>
  <hr>
  @if (user === null) {
    <p>If you have an event ticket, log in to build your agenda, access the passport contest and other exclusive content.</p>
    <ion-button expand="block" routerLink="/auth/login">
      Login
    </ion-button>
  } @else {
    @if (eventUser) {
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/scanner">
          <ion-icon name="scan-circle"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    }
  }
  <app-sponsor-list [showTitle]="true"></app-sponsor-list>
</ion-content>

