.londons-calling {
  font-weight: 900;
  text-transform: uppercase;
  .lc-big {
    font-size: 1.4em;
  }
  .lc-o {
    color: red;
    font-size: 1.4em;
  }
}

.home-logo {
  display: block;
  margin: 0 auto;
  max-width: 400px;
}

.tagline {
  font-size: 1.2em;
  margin-top: 20px;
  text-align: center;
}

ion-fab ion-icon  {
  font-size: 3em;
  color: #1461EB;
  // background-color: transparent;
  border: 5px solid #1461EB;
  border-radius: 3em;
}