<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/login"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  @if (currentPage === 'logout') {
    <ion-button expand="block" fill="clear" (click)="logout()">
      {{actionButtonText}}
    </ion-button>
  } 
  @if (currentPage !== 'logout') {
    <app-auth-form
      (formSubmitted)="handleUserCredentials($event)"
      [actionButtonText]="actionButtonText"
      [isPasswordResetPage]="currentPage === 'reset'"
    ></app-auth-form>

    @if (currentPage !== 'signup') {
    <ion-button expand="block" fill="clear" routerLink="/auth/signup">
      Create a new account
    </ion-button>
    } @if (currentPage !== 'reset') {
    <ion-button expand="block" fill="clear" routerLink="/auth/reset">
      I forgot my password :(
    </ion-button>
    }
  }
</ion-content>