<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      @if (!isEditing) {
        <ion-back-button></ion-back-button>
      } @else {
        <ion-button (click)="cancel()">
          <ion-icon slot="icon-only" name="close" ></ion-icon> 
        </ion-button>
      }
    </ion-buttons>
    <ion-title> {{ lead?.user?.firstname}} {{ lead?.user?.lastname}}</ion-title>
    <ion-buttons slot="end">
      @if (!isEditing) {
        <ion-button (click)="edit()">
          <ion-icon slot="icon-only" name="create" ></ion-icon> 
        </ion-button>
      } @else {
        <ion-button  [disabled]="!leadForm.valid" (click)="save()">
          <ion-icon slot="icon-only" name="save" ></ion-icon> 
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="leadForm">
  @if (lead) {
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-input errorText="First name is required" required label="First name" labelPlacement="stacked" formControlName="firstname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input errorText="Last name is required" required label="Last name" labelPlacement="stacked" formControlName="lastname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Company" labelPlacement="stacked" formControlName="company"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea label="Notes" labelPlacement="stacked" formControlName="notes"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card id="lead-meta">
      <ion-item>
        <ion-label>Scanned on</ion-label>
        <ion-text>{{ lead.createdDate | date: 'short' }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Last modified</ion-label>
        <ion-text>{{ lead.modifiedDate | date: 'short' }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Sync Status</ion-label>
        <ion-text>{{ lead.status === 0 ? 'Pending' : 'Synced' }}</ion-text>
      </ion-item>
      @if (lead.syncError) {
        <ion-item>
          <ion-label>Scanned on</ion-label>
          <ion-text>{{ lead.createdDate | date: 'short' }}</ion-text>
        </ion-item>
      }
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="danger" (click)="delete()" disabled>Delete</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="primary" (click)="sync()" [disabled]="isEditing">Sync</ion-button>
          </ion-col>
        </ion-row>
    </ion-card>
  }
  </form>
</ion-content>
