<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button mode="md"></ion-menu-button>
    </ion-buttons>
    <ion-title>Leads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <h2>My Leads</h2>
    <ion-list>
    @for (lead of leads; track $index) {
      @if (lead.status !== 2) {
        <ion-item detail>
          <ion-label>
            <h2>{{ lead.user?.firstname }} {{lead.user?.lastname}}</h2>
            <p>{{ lead.user?.company }}</p>
          </ion-label>
          @if (lead.status === 0) {
            <ion-badge slot="end">Pending sync</ion-badge>
          }
        </ion-item>
      }
    }
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="block" shape="round" color="primary" size="large" routerLink="/scanner">
    <ion-icon slot="start" name="scan-circle"></ion-icon>
  </ion-button>
</ion-footer>
