<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button mode="md"></ion-menu-button>
    </ion-buttons>
    <ion-title>Leads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <h2>My Leads</h2>
    <ion-list>
    @for (lead of leads; track $index) {
      <ion-item detail>
        <ion-label>
          <h2>{{ lead.name }}</h2>
          <p>{{ lead.email }}</p>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="block" shape="round" color="primary" size="large" routerLink="/scanner">
    <ion-icon slot="start" name="scan-circle"></ion-icon>
  </ion-button>
</ion-footer>
