<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button mode="md"></ion-menu-button>
    </ion-buttons>
    <ion-title>Leads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <ion-list>
    @for (lead of leads; track $index) {
      <ion-item detail>
        <ion-label>
          <h2>{{ lead.name }}</h2>
          <p>{{ lead.email }}</p>
        </ion-label>
      </ion-item>
    }
  </ion-list> -->
  <div class="scanner-container" [ngClass]="{'scanner-active': action.isStart}">
    <ngx-scanner-qrcode #action="scanner" (event)="handleScan($event, action)"></ngx-scanner-qrcode>
  </div>
</ion-content>


<ion-footer>
  <!-- <button (click)="action.isStart ? action.stop() : action.start()">{{action.isStart ? 'Stop' : 'Start'}}</button> -->
  <ion-button expand="block" fill="outline" shape="round" color="primary" (click)="toggleCamera()">Toggle Camera</ion-button>
  <ion-button expand="block" shape="round" color="primary" size="large" (click)="action.isStart ? action.stop() : startScanner()">
    <ion-icon slot="start" name="scan-circle"></ion-icon>
    {{action.isStart ? 'Cancel' : 'Add lead'}}  
  </ion-button>
</ion-footer>
